<div class="center hero-unit">
	<h1>Welcome to the Sample App</h1>
	<p>
		This is the home page for the
		<a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
		sample application.
	</p>

	<%= link_to "Sign up now!", signup_path, class: 'btn btn-large btn-primary' %>

	<a class="btn" data-toggle="modal" href="#example" >Launch Modal</a>
</div>

<%= link_to image_tag('rails.png', alt: 'Rails'), 'google.com' %>

<div id="example" class="modal hide fade in" style="display: none; ">  
<div class="modal-header">  
<a class="close" data-dismiss="modal">×</a>  
<h3>This is a Modal Heading</h3>  
</div>  
<div class="modal-body">  
<h4>Text in a modal</h4>  
<p>You can add some text here.</p>                
</div>  
<div class="modal-footer">  
<a href="#" class="btn btn-success">Call to action</a>  
<a href="#" class="btn" data-dismiss="modal">Close</a>  
</div>  
</div> 